* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#login_reg_separator {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
}

main {
    height: 70vh;
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

footer {
    height: 30vh;
    background-color: #ffffff;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col-logo {
    flex: 0 0 50%;
    text-align: left;
}

.col-form {
    flex: 0 0 40%;
    text-align: center;
}

.col-logo img {
    max-width: 300px;
}

.col-logo h2 {
    font: 26px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 32px;
}

.col-form .form-container {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    max-width: 386px;
}

input::-webkit-input-placeholder {
    color: black; /*Change the placeholder color*/
    opacity: 0.3; /*Change the opacity between 0 and 1*/
}

.col-form .form-container input, .col-form .form-container .btn-login {
    width: 100%;
    margin: 5px 0;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 6px;
}

.col-form .form-container input {
    border: 1px solid #dddfe2;
    color: #1d2129;
    outline: none;
    font-size: 17px;
    padding: 14px 16px;
}

.col-form .form-container input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.col-form .form-container .btn-login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

.col-form .form-container .btn-login:hover {
    background-color: #156cdd;
}

.col-form .form-container .btn-new:hover{
    background-color: #3eb027;
}

.col-form .form-container a {
    display: block;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    border-bottom: 1px solid #dadde1;
}

.col-form .form-container a:hover {
    text-decoration: underline;
}

.col-form .form-container .btn-new {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}

.col-form p {
    font-size: 14px;
}

.col-form p a {
    text-decoration: none;
    color: #1c1e21;
    font-weight: 600;
}

.col-form p a:hover {
    text-decoration: underline;
}

.footer-contents {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

footer ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
}

footer ol:first-child {
    border-bottom: 1px solid #dddfe2;
}

footer ol:first-child li:last-child button {
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    outline: none;
    color: #4b4f56;
    padding: 0 8px;
    font-weight: 700;
    font-size: 16px;
}

footer ol li {
    padding-right: 15px;
    font-size: 12px;
    color: #385898;
}

footer ol li a {
    text-decoration: none;
    color: #385898;
}

footer ol li a:hover {
    text-decoration: underline;
}

footer small {
    font-size: 11px;
}

@media only screen and (max-width: 768px) {
    .row {
        display: block;
        top: 35%;
    }

    .row .col-logo {
        display: flex;
        width: 112px;
        margin: 0 auto;
    }

    .row .col-logo h2{
        display: none;
    }

    .col-form .form-container {
        background-color: transparent;
        border: none;
        border-radius: 8px;
        box-shadow: none;
    }

    ._8qtf {
        margin: 0 0 4px 0;
        width: 100%;
    }
    ._43mg {
        display: block;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
    }

    ._43mg>span {
        display: inline-block;
        position: relative;
        font-size: 13px;
    }
    
    ._43mh {
        color: #4b4f56;
    }
    ._43mg {
        display: block;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
    }

    ._43mg>span:before {
        margin-right: 15px;
        right: 100%;
    }
    ._43mg>span:before, ._43mg>span:after {
        background: #ccd0d5;
        content: '';
        height: 1px;
        position: absolute;
        top: 50%;
        width: 9999px;
    }

    ._43mg>span:after {
        left: 100%;
        margin-left: 15px;
    }
    ._43mg>span:before, ._43mg>span:after {
        background: #ccd0d5;
        content: '';
        height: 1px;
        position: absolute;
        top: 50%;
        width: 9999px;
    }

    .col-form .form-container a {
        border-bottom: none;
        padding: 10px;
    }

    .btn-new {
        background: white !important;
        border-color: #bec3c9 !important;
        border-style: solid !important;
        border-width: 1px !important;
        box-shadow: none !important;
        color: #000 !important;
        display: inline-block !important;
        flex: none !important;
        font-size: 15px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        letter-spacing: -0.23px !important;
        text-align: center !important;
        text-shadow: none !important;
        white-space: nowrap !important;
        width: 80% !important;
        line-height: 35px !important;
        margin-top: 10px !important;
    }

    #texttt {
        display: none;
    }
}